<div>
    <app-nabvar></app-nabvar>
</div>

<div class="d-flex flex-row justify-content-center container">
    <div class="card">
        <h5 class="card-header">Recupera tu cuenta</h5>
        <div class="card-body">
            <form [formGroup]="profile"  (ngSubmit)="submit()">
                <div class="form-group has-feedback">
                    <input 
                        type="email" 
                        class="form-control" 
                        placeholder="Dirección electrónica"
                        formControlName="email"
                    >
                    <div class="alert alert-danger" *ngIf="isValidField('email')">
                        <small>{{getErrorMessage("email")}}</small>
                    </div>    
                </div>
                <button type="submit" class="btn btn-success">enviarme correo</button>
            </form>
        </div>
    </div>
</div>
